html{
    height: auto;
    min-height: 100%;
}
body{
    /*background: linear-gradient(#f72585, #3a0ca3);   de arriba a abajo*/
    /*background: linear-gradient(to right,#f72585, #3a0ca3); /*de derecha a izquierda*/
    /*background: linear-gradient(#24404d, #6dbff1, black); de arriba mas oscuro al medio y desp a negro */
    /*background: linear-gradient(to bottom right,#24404d, #6dbff1,black);   efecto como en diagonal*/
    /*background: linear-gradient(190deg,#24404d, #6dbff1,black); se pasa el angulo ej 190deg*/
    background: radial-gradient(circle,#24404d, #6dbef1d4,black); /*se pone del centro hacia afuera en circulo*/
    color: #f1faee;
}   
h1{
    
    text-align: center;
   
}
div.contenedor{
    width: 30%;
    height: 20%;
    margin: auto;
    border: 3px solid #a8dadc;
    padding: 15px;
    text-align: center;

}
/*opacity 1.0 es por defecto*/
img{
    opacity: 0.7;
}
img:hover{
    opacity: 1.0;
}
