h1{
    color: blanchedalmond;
    background-color: rgb(53, 9, 97);
    text-align: center;
}
div.contenedor{
    position: relative;
    border: 3px dashed rgb(99, 94, 94);
    width: 30%; /*para que no ocupe mas del 30% de la pantalla*/
    margin: auto;
}
img.imagen{
    width: 100%;
    opacity: .5; /*transparencia 20%*/
}
div.centro{
    position: absolute; /* */
    top: 30%; /* el texto se pone arriba de la mitad vertical*/
    color: blueviolet;
    width: 100%; /*ancho 100%*/
    text-align: center;
    font-size: 25px;


}